.hero {
  background: #2f303a;
  text-align: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
  }

  &__title {
    color:$primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
  }}
  .hero__button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: 0;

&:active {
  background-color: $dark-accent-color;
  }}