$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$dark-accent-color: #188ce8;
$primary-white-color: #fff;
$header-border-color: #ececec;
$grey-color: #f5f4fa;
$links-grey-color: #afb1b8;
$footer-color: #2f303a;

$primary-font-family: "Roboto", sans-serif;